## Counter

In [2]:
from collections import Counter

In [4]:
mylist=[8,2,3,4,44,4,222,1,3,3,4,56,7,8,9,6,66,5,5,4,'list',4]

In [5]:
Counter(mylist)

Counter({8: 2,
         2: 1,
         3: 3,
         4: 5,
         44: 1,
         222: 1,
         1: 1,
         56: 1,
         7: 1,
         9: 1,
         6: 1,
         66: 1,
         5: 2,
         'list': 1})

In [7]:
Counter("SHravani Vilas Chavan")

Counter({'S': 1,
         'H': 1,
         'r': 1,
         'a': 5,
         'v': 2,
         'n': 2,
         'i': 2,
         ' ': 2,
         'V': 1,
         'l': 1,
         's': 1,
         'C': 1,
         'h': 1})

In [11]:
#or 
string="Shravani Vilas Chavan"
c=Counter(string.split())

In [12]:
c

Counter({'Shravani': 1, 'Vilas': 1, 'Chavan': 1})

In [20]:
c.update([1,2,3333,3333,45,677])

In [21]:
c

Counter({'Shravani': 1,
         'Vilas': 2,
         'Chavan': 1,
         'V': 1,
         'i': 1,
         'l': 1,
         'a': 1,
         's': 1,
         1: 1,
         2: 1,
         3333: 2,
         45: 1,
         677: 1})

In [23]:
c.most_common(3)

[('Vilas', 2), (3333, 2), ('Shravani', 1)]

In [24]:
c.clear()

In [25]:
c

Counter()

## Defaultdict

In [26]:
from collections import defaultdict

In [27]:
d={}

In [29]:
d['one']

KeyError: 'one'

In [30]:
d=defaultdict(object)

In [31]:
d['three']

In [34]:
d=defaultdict(lambda:1)

In [35]:
d['three']

1

# namedtuple
The standard tuple uses numerical indexes to access its members, for example:

In [36]:
from collections import namedtuple

In [37]:
Dog = namedtuple('Dog',['age','breed','name'])

sam = Dog(age=2,breed='Lab',name='Sammy')

frank = Dog(age=2,breed='Shepard',name="Frankie")

In [38]:
frank

Dog(age=2, breed='Shepard', name='Frankie')

In [39]:
sam

Dog(age=2, breed='Lab', name='Sammy')

In [49]:
sam.breed

'Lab'