# For loops:-
  general format for a for loop in Python:

for item in object:

    statements to do stuff

In [2]:
l=[1,2,3,45,6]
for num in l:
    print(num)

1
2
3
45
6

In [3]:
#eg 2
for num in l:
    if num%2==0:
        print(num)

2
6

In [4]:
#eg 3
l_sum=0
for num in l:
    l_sum+=num
print(l_sum)

57

In [5]:
for letter in 'This is python':
    print(letter)

T
h
i
s

i
s

p
y
t
h
o
n

In [6]:
tup = (1,2,3,4,5)

for t in tup:
    print(t)

1
2
3
4
5

In [7]:
list2 = [(2,4),(6,8),(10,12)]

In [8]:
#eg4
for tup in list2:
    print(tup)

(2, 4)
(6, 8)
(10, 12)

In [9]:
# Now with unpacking!
for (t1,t2) in list2:
    print(t1)

2
6
10

In [10]:
#eg5
d={'k1':1,'k2':2,'k5':5}

In [11]:
for i in d:
    print(i)

k1
k2
k5

In [13]:
d.items() #<-- .item()method

dict_items([('k1', 1), ('k2', 2), ('k5', 5)])

In [15]:
#dictionary unpacking
for k,v in d.items():
    print(k)
    print(v)

k1
1
k2
2
k5
5

In [16]:
list(d.keys())

['k1', 'k2', 'k5']