# List Comprehension

In [1]:
# Grab every letter in string
lst = [x for x in 'word']

In [2]:
lst

['w', 'o', 'r', 'd']

In [3]:
#ths above is same as 
lst=[]
for x in ('word'):  #<-- this 
    lst.append(x)   #<-- and this is all included in the above list for making list comprehension

In [4]:
lst

['w', 'o', 'r', 'd']

In [5]:
# Square numbers in range and turn into list
lst = [x**2 for x in range(0,11)]

In [6]:
lst

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [7]:
# Check for even numbers in a range
lst = [x for x in range(11) if x % 2 == 0]
lst

[0, 2, 4, 6, 8, 10]

In [8]:
# Convert Celsius to Fahrenheit
celsius = [0,10,20.1,34.5]

fahrenheit = [((9/5)*temp + 32) for temp in celsius ]

fahrenheit

[32.0, 50.0, 68.18, 94.1]

In [10]:
lst = [ x**2 for x in [x**2 for x in range(11)]]
lst  #inshort it is x^4

[0, 1, 16, 81, 256, 625, 1296, 2401, 4096, 6561, 10000]